@font-face {
    font-family: 'C-Book Bold';
    src: url(../fonts/lineto-circular-pro-bold.ttf);
}
body {
    background-color: #F7F7F7;
    font: 16px 'C-Book Bold' Arial, sans-serif;
}
.footer {
    position: absolute;
    bottom: 35px;
    width: 100%;
}